:root {
  --yellow: #f8e16c;
  --green: #033a2c;
  --deepgreen: #156064;
  --orange: #fb8f67;
  --pink: #ffc2b4;
  --white: #fff;
  --black: #0000009f;
  --background: #ffffffe3;
  --gray: #f8f8ed;
}

body {
  width: 100%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
}

header .empty-content {
  width: 100%;
  padding: 25px;
  background-color: var(--yellow);
}
header .header-items {
  width: 90%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: -25px;
  background-color: var(--deepgreen);
}
header .header-items div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
header .header-items div h3 {
  color: var(--white);
}
header .header-items div h3 span {
  color: var(--yellow);
}
header .header-items div i {
  padding: 10px;
  color: var(--deepgreen);
  border-radius: 50%;
  background-color: var(--yellow);
}

/**********************************************/
section {
  display: grid;
  grid-template-columns: 20% auto;
}

nav {
  padding: 20px;
  margin-top: 20px;
  border-top-right-radius: 15px;
  background-color: var(--deepgreen);
}
nav .dashboard, nav .profile {
  margin-top: 10px;
  padding: 10px 20px;
  color: var(--deepgreen);
  text-align: center;
  font-weight: bolder;
  background-color: var(--yellow);
}
nav .dashboard a, nav .profile a {
  color: var(--deepgreen);
  text-decoration: none;
}
nav .profile {
  background: none;
  border: 1px solid var(--yellow);
}
nav .profile a {
  color: var(--yellow);
}

/*********************************************/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer-content {
  padding: 15px;
  text-align: center;
  color: var(--white);
  margin-top: 8px;
  font-weight: bolder;
  background-color: var(--deepgreen);
}

*,
::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
  padding: 8px 12px;
  background-color: var(--yellow);
}
button a {
  text-decoration: none;
  color: var(--deepgreen);
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

section .dashboard-content h3 {
  padding: 10px;
  margin-top: 20px;
  background-color: var(--gray);
}
section .dashboard-content .dashboard-immatricule {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: var(--gray);
}
section .dashboard-content .dashboard-immatricule p {
  font-size: 20px;
}
section .dashboard-content .dashboard-immatricule p span {
  color: var(--deepgreen);
}
section .dashboard-content .dashboard-immatricule div {
  margin-top: 15px;
}
section .dashboard-content .dashboard-immatricule div input {
  width: 20%;
  margin-right: 10px;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 0px 2px 0px var(--deepgreen);
}
section .dashboard-content .dashboard-immatricule div a {
  padding: 8px 12px;
  text-decoration: none;
  color: var(--white);
  border-radius: 5px;
  background: linear-gradient(45deg, #156064, #f8e16c);
}
section .useful {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
section .useful h4 {
  margin-top: 8px;
  margin-bottom: 10px;
}
section .useful div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}
section .useful div h4 {
  padding: 12px;
  border-radius: 50%;
  color: var(--white);
  background: linear-gradient(45deg, #156064, #f8e16c);
}/*# sourceMappingURL=chauffeur.css.map */