@use '../utils/' as u;

//body proprieties
body{
    width: 100%;
    margin: auto;
    font-family: u.$font-Monserat;
    background-color: var(--background);
}

header{
    .empty-content{
        width: 100%;
        padding: 25px;
        background-color: var(--yellow);
    }
    .header-items{
        width: 80%;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-top: -25px;
        background-color: var(--deepgreen);

        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            h3{
                color: var(--white);
                span{
                    color: var(--yellow);
                }
            }
            i{
                padding: 10px;
                color: var(--deepgreen);
                border-radius: 50%;
                background-color: var(--yellow);
            } 
        }
    }
}

/**********************************************/
section{
    display: grid;
    grid-template-columns: 20% auto;
    nav{
        height: 75vh;
        padding: 20px ;
        margin-top: 20px;
        border-top-right-radius: 20px;
        background-color: var(--deepgreen);
        .nav-content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .dashboard{
                margin-top: 10px;
                padding: 10px 20px;
                color: var(--deepgreen);
                text-align: center;
                font-weight: bolder;
                background-color: var(--yellow);
                a{
                    color: var(--deepgreen);
                    text-decoration: none;
                }
            }
            .profile{
                @extend .dashboard;
                background: none;
                border: 1px solid var(--yellow);
                a{
                    color: var(--yellow);
                }
            }
        }
    }
}

/*********************************************/
footer{
    .footer-content{
        padding: 15px;
        text-align: center;
        color: var(--white);
        
        background-color: var(--deepgreen);
    }
}