@use '../utils/' as u;
@use '../utils/mixins' as *;

//body proprieties
body{
    width: 100%;
    margin: auto;
    font-family: u.$font-Monserat;
    background-color: var(--background);
}

//Header*************************************
header{
    .empty-content{
        width: 100%;
        padding: 30px;
        background-color: var(--yellow);
    }
    .header-content{
        width: 90%;
        padding: 15px;
        @include display-flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--deepgreen);
        .logo{
            gap: 8px;
            @include display-flex;
            align-items: center;
            justify-content: none;
            i{
                padding: 10px;
                border-radius: 50%;
                color: var(--deepgreen);
                background-color: var(--yellow);
            }
            h4{
                color: var(--white);
                span{
                    color: var(--yellow);
                }
            }
        }
        .menu{
            display: none;
            .menu-icons{
                color: var(--deepgreen);
                padding: 8px 8px;
                border-radius: 50%;
                background-color: var(--yellow);
            }
            .menu-container{
                position: absolute;
                top: 70px;
                right: 1px;
                width: 100%;
                transition: 1s;
                margin-top: -200%;
                background-color: var(--deepgreen);
                @include display-flex;
                ul{
                    width: 100%;
                    li{
                        list-style: none;
                        color: var(--deepgreen);
                        text-align: center;
                        padding: 15px;
                        border-bottom: 1px solid var(--yellow);
                        a{
                            color: var(--white);
                            text-decoration: none;
                            &:hover{
                                color: var(--yellow);
                            }
                        }
                    }
                }
            }
        }
    }
}


/**********************************************/
section{
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: -25px;
}
nav{
    padding: 10px 20px;
    border-top-right-radius: 15px;
    background-color: var(--deepgreen);
    
        .dashboard{
            margin-top: 10px;
            padding: 10px 20px;
            color: var(--deepgreen);
            text-align: center;
            font-weight: bolder;
            background-color: var(--yellow);
            a{
                color: var(--deepgreen);
                text-decoration: none;
            }
        }
        .profile{
            @extend .dashboard;
            background: none;
            border: 1px solid var(--yellow);
            a{
                color: var(--yellow);
            }
        }
    
}

/*********************************************/
footer{
    .footer-content{
        padding: 15px;
        text-align: center;
        color: var(--white);
        margin-top: 8px;
        font-weight: bolder;
        background-color: var(--deepgreen);
    }
}

/************************************************/
    /***************MEDIA QUERY**************/
/************************************************/
@include u.breakpoint(laptop){
    header{
        
        .header-content{
            .header-items{
                display: none;
            }
            .menu{
                display: initial;
                .menu-icons .icon{
                    display: block;
                    cursor: pointer;
                }
                .menu-icons .exit{
                    display: none;
                    cursor: pointer;
                }
                .menu-mobile .icon{
                    display: none;
                }
                .menu-mobile .exit{
                    display: initial;
                }
                .menu-mobile{
                    margin-top: 0;
                }
            }
        }
    }
    section{
        display: grid;
        grid-template-columns: auto;
    }
    nav{
        display: none;
    }
    
}