<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/chauffeur.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Maven+Pro&family=Montserrat&family=Sen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulage profile</title>
</head>
<body>
    <header>
        <div class="empty-content">

        </div>
        <div class="header-items">
            <div class="header-title">
                <i class="fa-solid fa-feather"></i>
                <h3><span>Salama</span> Control</h3>
            </div>
            <div>
                <button>
                    <a href="#">Se déconnecter</a>
                </button>
            </div>
        </div>
    </header>

    <section>
        <aside>
            <nav>
                <div class="nav-content">
                    <div class="dashboard">
                        <a href="#">Dashboard</a>
                    </div>
                    <div class="profile">
                        <a href="#">Profile</a>
                    </div>
                </div>
            </nav>
        </aside>

        <aside>
            <div class="dashboard-content">
                <div class="dashboard-immatricule">
                    <p><span>Rechercher en saisissant</span> le numéro de la plaque</p>
                    <p>d'immatriculation<span> dans la barre ci-dessous</span></p>
                    <div>
                        <input type="search" name="numéro d'immatriculation">
                        <a href="#">Rechercher</a>
                    </div>
                </div>
                
                <div class="useful">
                    <h3>Comment ça marche ?</h3>
                    <p>Suivez ces étapes simples pour trouver l'état des documents</p>
                    <div>
                        <h4>01</h4>
                        <p>Saisir le numéro de plaque de l'immatriculation dans la barre de recherche</p>
                    </div>
                    <div>
                        <h4>02</h4>
                        <p>Appuyez sur le button <span>&laquo</span>Button <span>&raquo</span></p>
                    </div>
                    <div>
                        <h4>03</h4>
                        <p>Attendez-voir les résultats</p>
                    </div>
                </div>
            </div>
        </aside>
    </section>

    <footer>
        <div class="footer-content">
            <p>© 2023 - Salama Control</p>
        </div>
    </footer>
    
</body>
</html>