<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/chauffeur.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Maven+Pro&family=Montserrat&family=Sen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulage profile</title>
</head>
<body>
    <header>
        <div class="empty-content">

        </div>
        <div class="header-items">
            <div class="header-title">
                <i class="fa-solid fa-feather"></i>
                <h3><span>Salama</span> Control</h3>
            </div>
            <div>
                <button>
                    <a href="#">Se déconnecter</a>
                </button>
            </div>
        </div>
    </header>

    <section>
        <aside>
            <nav>
                <div class="nav-content">
                    <a class="dashboard" href="#">Dashboard</a>
                    <a href="#">Profile</a>
                </div>
            </nav>
        </aside>
    </section>
    
</body>
</html>