@use '../utils/' as u;

section{
    .dashboard-content{
        h3{
            padding: 10px;
            margin-top: 20px;
            background-color: var(--gray);
        }
        .dashboard-immatricule{
            padding: 20px;
            margin-top: 20px;
            text-align: center;
            background-color: var(--gray);

            p{
                font-size: 20px; 
                span{
                    color: var(--deepgreen);
                }
            }
            div{
                margin-top: 15px;
                input{
                    width: 20%;
                    margin-right: 10px;
                    border: none;
                    outline: none;
                    padding: 8px 12px;
                    border-radius: 5px;
                    font-family: u.$font-Monserat;
                    box-shadow: 0px 0px 2px 0px var(--deepgreen);
                }
                a{
                    padding: 8px 12px;
                    text-decoration: none;
                    color: var(--white);
                    border-radius: 5px;
                    background: linear-gradient(45deg, #156064, #f8e16c);
                }
            }
        }
    }

    .useful{
        width: 60%;
        margin: auto;
        margin-top: 30px;
        h4{
            margin-top: 8px;
            margin-bottom: 10px;
        }
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5px;
            gap: 10px;
            h4{
                padding: 12px;
                border-radius: 50%;
                color: var(--white);
                background: linear-gradient(45deg, #156064, #f8e16c);
            }
        }
    }
}

