//Principal colors for the project

:root{
    --yellow : #f8e16c;
    --green : #06a04b;
    --deepgreen : #156064;
    --red : #e75019;
    --pink : #ffc2b4;
    --white : #fff;
    --black : #0000009f;
    --background : #ffffffe3;
    --gray : #f8f8ed;
}

//Font 
$font-Monserat : 'Montserrat', sans-serif;