//Principal colors for the project

:root{
    --yellow : #f8e16c;
    --green : #033a2c;
    --deepgreen : #156064;
    --orange : #fb8f67;
    --pink : #ffc2b4;
    --white : #fff;
    --black : #0000009f;
    --background : #ffffffe3;
    --gray : #f8f8f8;
}

//Font 
$font-Monserat : 'Montserrat', sans-serif;